.slider-container {
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-button,
  .next-button {
    background-color: #ddd;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #bbb;
  }